@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet');

@import "tailwindcss";
@source "preline/dist/*.js";
@import "preline/variants.css";
@import "flatpickr";
/* @import "preline/apexcharts.css"; */
/* @plugin "@tailwindcss/forms"; */
@plugin "@tailwindcss/typography";

:root {
	--gray-black-opacity-30: #0000004d;
	--gray-50: #f7f7f8;
	--gray-75: #f2f0f4;
	--gray-100: #ebebee;
	--gray-150: #e3e3e3;
	--gray-200: #e7e6e8;
	--gray-300: #d6d6d8;
	--gray-400: #b9b6bc;
	--gray-500: #a199ab;
	--gray-550: #929bad;
	--gray-600: #817f87;
	--gray-700: #5e5a67;
	--gray-800: #2a2831;
	--gray-900: #131216;
	--gray-error: #ba1414;
	--gray-success: #13912859;
	--gray-success-035: #139128;
	--gray-ready: #edB335;
	--gray-receipt: #B635CA;
	--in-progress: #2296DD;
	--blue-focus-input: #5171ff;
	--pitpos-50: #f7f7f8;
	--pitpos-75: #f2f0f4;
	--pitpos-100: #f5f2f9;
	--pitpos-200: #e7e6e8;
	--pitpos-300: #d6d6d8;
	--pitpos-400: #b9b6bc;
	--pitpos-500: #816ea4;
	--pitpos-600: #543a80;
	--pitpos-700: #1b0939;
	--pitpos-800: #553e7d;
	--pitpos-900: #39066b;
	--pitpos-950: #131216;
	--pitpos-: #131216;
}

@theme {
	--font-sans: 'Inter', sans-serif;
	--font-second: Poppins, sans-serif;
	--font-third: Rubik, sans-serif;

	--color-black: #131216;
	--color-black-opacity-30: #0000004d;
	--color-gray-800: #2a2831;
	--color-gray-700: #5e5a67;
	--color-gray-600: #817f87;
	--color-gray-550: #929bad;
	--color-gray-500: #a199ab;
	--color-gray-400: #b9b6bc;
	--color-gray-300: #d6d6d8;
	--color-gray-200: #e7e6e8;
	--color-gray-150: #e3e3e3;
	--color-gray-100: #ebebee;
	--color-gray-75: #f2f0f4;
	--color-gray-50: #f7f7f8;
	--color-pitpos-900: #39066b;
	--color-pitpos-800: #553e7d;
	--color-pitpos-700: #1b0939;
	/* --color-pitpos-700: #ff00cc; */
	--color-pitpos-blue: #1b0939;
	--color-pitpos-600: #543a80;
	--color-pitpos-500: #816ea4;
	--color-pitpos-450: #B499E7;
	--color-pitpos-400: #b9b6bc;
	--color-pitpos-300: #d6d6d8;
	--color-pitpos-200: #f5f2f9;
	--color-pitpos-100: #f5f2f9;
	--color-pitpos-75: #f2f0f4;
	--color-pitpos-50: #f7f7f8;
	--color-dark-text: #303336;
	--color-error: #ba1414;
	--color-success: #139128;
	--color-success-035: #13912859;
	--color-ready: #EDB335;
	--color-receipt: #B635CA;
	--color-in-progress: #2296DD;
	--color-pink: #ffa7a7;
	--color-dark-red: #a4302d;
	--color-accent: #FE4F02;
	--color-blue-focus-input: #5171ff;


	--breakpoint-xs: 29.99rem;
	--breakpoint-3xl: 102.44rem;
}

@layer base {
	html {
		height: 100%;
		scrollbar-gutter: stable;
	}

	html,
	:has(:target) {
		scroll-behavior: smooth;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-background-clip: text;
		background-clip: text;
	}
}

@utility container {
	padding-inline: 0.75rem;
	margin-inline: auto;

	@variant sm {
		padding-inline: 2rem;
	}
}

@layer utilities {
	.no-number-spinner {
		-webkit-appearance: none;
		-moz-appearance: textfield;
		appearance: none;
	}

	.no-number-spinner::-webkit-outer-spin-button,
	.no-number-spinner::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.date-picker-indicator-violet::-webkit-calendar-picker-indicator {
		filter: invert(41%) sepia(99%) saturate(2600%) hue-rotate(5deg) brightness(102%) contrast(101%);
	}

	.date-picker-auto::-webkit-calendar-picker-indicator {
		filter: invert(39%) sepia(6%) saturate(668%) hue-rotate(217deg) brightness(94%) contrast(89%);
	}

	.date-picker-auto[data-filled="true"]::-webkit-calendar-picker-indicator {
		filter: none;
	}
}

@variant has-active {
	&.active {
		@slot;
	}
}

@variant has-disabled {
	&.disabled {
		@slot;
	}
}